<h1>Restaurant <strong><%= @restaurant.name %></strong> (id = <%= @restaurant.id %>)</h1>
<hr>
<p>Address: <strong><%= @restaurant.address %></strong></p>
<p>Phone number: <strong><%= @restaurant.phone_number %></strong></p>
<p>Category: <strong><%= @restaurant.category %></strong></p>






<hr>
<% @restaurant.reviews.each do |review| %>
<p><%= review.rating %> | <%= review.content %></p>
<% end %>
<hr>
<p><%= link_to "Back", restaurants_path %>


