<!DOCTYPE html>
<html>
<head>
  <title>Yelpr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:dave] %>

<%= yield %>

</body>
</html>
